{% extends 'layout_panel.html' %}

{% block js_code %}
<script type="text/javascript">
layui.use(function(){
    var layer = layui.layer;
    var $ = layui.$;
    var util = layui.util;

    util.on('lay-on', {
        'btn-del': function (othis){
            var href = $(this).attr('actionhref');
            layer.confirm(
                '确定要踢出当前用户吗？', {icon: 3},
                function(){location.href=href;}
            );
        }
    })
})

</script>
{% endblock %}

{% block pagecontent %}
    {% include 'include_messages.html' %}
<div class="card card-gray card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs">
<li class="nav-item">
<a class="nav-link " href="{% url 'module_system:system_users:list' %}">帐号</a>
</li>
<li class="nav-item">
<a class="nav-link active"  href="{% url 'module_system:system_users:login_users_list' %}">当前登录</a>
</li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-sm  mt-2">
          <thead class="thead-light">
            <tr>
                <th>用户名</th>
                <th>TTY</th>
                <th>登录时间</th>
                <th>来源地址</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
    {% for user in wholist %}
            <tr>
                <td>{{ user.user }}</td>
                <td>{{ user.tty }}</td>
                <td>{{ user.loginat }}</td>
                <td>{{ user.loginfrom }}</td>
                <td>
<a actionhref="{% url 'module_system:system_users:login_users_kill' %}?tty={{ user.tty }}" class="btn btn-link btn-xs text-danger" lay-on='btn-del'>
    终止会话
</a>
                </td>
            </tr>
    {% endfor%}
          </tbody>
        </table>
</div>
</div>
{% endblock %}